<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="{{ site.description }}">
  <meta name="author" content="{{ site.author.fullname }}">
  <link rel="author" href="https://plus.google.com/{{site.author.gplusid}}/posts">

  <title>{{ page.title }}</title>

  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="assets/style.css">
  <link rel="stylesheet" href="assets/mojombo.css">

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body data-spy="scroll" data-offset="40" data-target="#navbar-right">


<!-- ##########
 NAVBAR 
########### -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container" id="navbar">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar-content">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand">series-renamer</span>
    </div>

    <div class="collapse navbar-collapse" id="mynavbar-content"> <!-- this will collapse as navbar-collapse -->
      <ul class="nav navbar-nav navbar-right">
          <li><a href="http://github.com/aviaryan/series-renamer">GitHub</a></li>
          <li><a href="http://github.com/aviaryan/series-renamer/issues">Issues</a></li>
      </ul>
    </div>

  </div>
</nav>

<!-- ######################
 THE GRID - DATA AREA 
 ######################## -->

<div id="bootstrapCssTest" class="hide"></div>


<div class="container texts" id="texts">

	

  <div class="row">
    <div class="col-sm-9 col-xs-12" id="data">
	
    {{ content }}

    </div>

    <div class="col-sm-3 col-lg-2 col-lg-offset-1 col-xs-12"> <!-- nested cols hidden-xs -->
        <div class="col-xs-12" data-spy="affix" data-offset-top="60px">
        <div id="navbar-right">
	    <ul class="nav nav-pills nav-stacked">
	      <li class="active"><a href="#intro">Introduction</a></li>
	      <li><a href="#using">Using</a></li>
	      <li><a href="#numbers">Season and Episode Numbers</a></li>
	      <li><a href="#config">Configuration</a></li>
        <li><a href="#examples">Examples</a></li>
	    </ul>
	  	</div>
     	</div>
    </div>

  </div>
  

</div>


<!-- ##########
FOOTER 
############# -->



<!-- #########
SCRIPTS 
############-->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>if (!window.jQuery) { document.write('<script src="assets/jquery.min.js"><\/script>'); }
</script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script>$.fn.modal || document.write('<script src="assets/bootstrap.min.js">\x3C/script>')</script>

<script type="text/javascript">
if ($('#bootstrapCssTest').is(':visible') === true) {
    $('<link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />').appendTo('head');
}
</script>

<!-- <script>
$('.scrollspynav').scrollspy({ target: '#navbar' });
</script> -->

</body>

</html>

<!-- 
  Created by Avi Aryan
  http://aviaryan.in
-->